<link rel="stylesheet" href="../CSS/NavBar.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<header class="change-nav-scroll">
    <div class="logo-title-div">
        <p>
            <img id="farmer-logo" src="../Images/logo1.jpg" alt="Logo">
        </p>
        <h1><a href="/" class="title">Farmers Web Portal</a></h1>
    </div>
    <div class="nav">
        <input type="checkbox" id="check">
        <label for="check" class="expandbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label for="check" class="contractbtn">
            <i class="fa-solid fa-xmark"></i>
        </label>
        <ul>
            <li><a href="/CropSuggestion" class="nav-element CropSuggestion">Crops</a></li>
            <li><a href="/discussions" class="nav-element discussions">Discussions</a></li>
            <li><a href="/ChatBot" class="nav-element ChatBot">Chat Bot</a></li>
            <li><a href="/Market" class="nav-element Market">Market</a></li>
            <li><a href="/Aboutuss" class="nav-element Aboutuss">About Us</a></li>
            <li><a href="/login" id="loginUser" class="nav-element">
                <% if(user){ %>
                    <%= user.username.toUpperCase() %>
                    <% } %>
            </a></li>
        </ul>
    </div>
</header>
<script src="../JS/NavBar.js"></script>
<script>
    
</script>