<link rel="stylesheet" href="../../assets/CSS/NavBar.css">
<header class="change-nav-scroll">
    <div class="logo-title-div">
        <p>
            <img id="farmer-logo" src="../assets/Images/logo1.jpg" alt="Logo">
        </p>
        <h1><a href="/" class="title">Farmers Web Portal</a></h1>
    </div>
    <div class="nav">
        <input type="checkbox" id="check">
        <label for="check" class="expandbtn">
            <i class="fa-solid fa-bars"></i>
        </label>
        <label for="check" class="contractbtn">
            <i class="fa-solid fa-xmark"></i>
        </label>
        <ul>
            <li><a href="/CropSuggestion" class="nav-element">Crops</a></li>
            <li><a href="/discussions" class="nav-element">Discussions</a></li>
            <li><a href="/ChatBot" class="nav-element">Chat Bot</a></li>
            <li><a href="/Market" class="nav-element">Market</a></li>
            <li><a href="/Aboutuss" class="nav-element">About Us</a></li>
            <li><a href="/Login" class="nav-element">User</a></li>
        </ul>
    </div>
</header>

<script src="../../JS/NavBar.js"></script>