<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple|fire-animation">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" href="../assets/CSS/Aboutuss.css">
    <script src="https://kit.fontawesome.com/a4b935b8e6.js" crossorigin="anonymous"></script>

</head>

<body>
<%- include('./partials/navbar.ejs') %>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Us</h1>
            </div>
            <div class="content">
                <h3>One Stop For all Farmers!</h3>
                <p>
                    Our Website Major Motto is to Help Farmers in a very unique way. Our website consists of five major
                    sections namely Crop Suggestion section, Discussions Tab, Market Place for Farmers, Login for better
                    services and lastly Chatbot for further assistance.
                    For better understanding of the five major sections.<br> Firstly, Crop Suggestion section the page
                    takes inputs and display the best possible crops and their full-fledged details such as Season
                    suitable for the
                    crop, minimal investment, water availability, Gross income and total profit earned. This, helps the
                    Farmers to have better understanding of professional farming.<br> The website contains Discussion
                    tab in which Farmers can post their
                    query and other farmers or experts might help them posting solutions to their query.<br> The another
                    section of our website and center of attraction is the MarketPlace. Farmers can have all the
                    products at one place which are required
                    at a very minimal price. machinery, seeds, fertilizers, pesticides are some of the basic examples.
                    <br> For Better Services Farmers needs to login in to website for more assistance.<br> Lastly, the
                    Chatbot which helps the users for instant help.





                </p>

            </div>

            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="../assets/Images/aboutusimg.jpg">
        </div>
    </div>
</div>

<div class="container-1">
    <div class="carousel">
        <h1>Team Members: </h1>
        <div class="carousel__face"><span>GP-26</span></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
        <div class="carousel__face"></div>
    </div>
</div>

<div class="names-div">

    <div class="names">
        <span>P.SATYA KARTHIK,S20200010158</span><br>
        <span>K.VENKAT SUBHASH,S20200010081</span><br>
        <span>P.SHARAN RAJ,S20200010174</span><br>
        <span>DHANUSH ARIVAPPAGIRI,S2020001022</span><br>
        <span>RAKESH BODAVULA,S20200010039</span><br>
    </div>

</div>

<footer class="footer ">
    <div class="footer-container ">
        <div class="row ">
            <div class="footer-col ">
                <h4>company</h4>
                <ul>
                    <li><a href="# ">about us</a></li>
                    <li><a href="# ">our services</a></li>
                    <li><a href="# ">privacy policy</a></li>
                    <li><a href="# ">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col " id="footer-col-online-shop ">
                <h4>get help</h4>
                <ul>
                    <li><a href="# ">FAQ</a></li>
                    <li><a href="# ">shipping</a></li>
                    <li><a href="# ">returns</a></li>
                    <li><a href="# ">order status</a></li>
                    <li><a href="# ">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>online shop</h4>
                <ul>
                    <li><a href="# ">seeds</a></li>
                    <li><a href="# ">fertilizers</a></li>
                    <li><a href="# ">pesticides</a></li>
                </ul>
            </div>
            <div class="footer-col ">
                <h4>follow us</h4>
                <div class="social-links ">
                    <a href="# "><i class="fab fa-facebook-f "></i></a>
                    <a href="# "><i class="fab fa-twitter "></i></a>
                    <a href="# "><i class="fab fa-instagram "></i></a>
                    <a href="# "><i class="fab fa-linkedin-in "></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>