<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Bot</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple|fire-animation">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/ChatBot.CSS">
    <script src="https://kit.fontawesome.com/a4b935b8e6.js" crossorigin="anonymous"></script>
</head>

<body onload="makePageActive()">
   
    <%- include('./partials/navbar.ejs') %>

    <div class="bot">

        <div class="box">
            <ul>
                <li><span>Welcome Farmer! </span></li>
                <li><span>I am EarthWorm!</span></li>
                <li><span>I am Coming Soon!</span></li>
                <!-- <li><span>may be in FFSD2 or FFSD3</span></li> -->
                <li><span>So, stay tuned :) . . . . . . .</span></li>
            </ul>
        </div>
        <div class="image">
            <img src="Images/earthworm.png" alt="earthworm" class="earthworm-img">
        </div>
    </div>

    
    <script>
        function makePageActive(){
            document.querySelector('.ChatBot').classList.add('active-page')
        }
    </script>
</body>
