<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple|fire-animation.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://kit.fontawesome.com/a4b935b8e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <link rel="stylesheet" href="/CSS/homepage.css">

</head>

<body>
    
    <%- include('./partials/navbar.ejs') %>

    <div class="home_div">

        <section class="carousel1">
            
        <div class="carousel1-container">
            <div class="carousel1-container-box">
                <div class="carousel1-container-row">
                    <div class="carousel1-container-heading">
                        <h1>WELCOME TO FARMERS PORTAL</h1>
                        <p>Join the portal and learn the professional way of farming</p>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="shaped-border">
            <div class="shape-inner "></div>
        </div>
        <div class="fullwidth-col-img ">
            <div class="fullwidth-col-img--item" id="image1">
                <div class="fullwidth-col-img--item-bg "></div>
                <div class="fullwidth-col-img--item-inner ">
                    <h3>
                        CROP SUGGESTIONS
                    </h3>
                    <div class="fullwidth-col-img--item-desc ">
                        This page will suggest the best crops and their detailed information according to the given input.
                    </div>
                </div>
            </div>
            <div class="fullwidth-col-img--item" id="image2">
                <div class="fullwidth-col-img--item-bg "></div>
                <div class="fullwidth-col-img--item-inner ">
                    <h3>
                        MARKET PLACE
                    </h3>
                    <div class="fullwidth-col-img--item-desc ">
                        This Page provides farmers the best products at the very minimal price
                    </div>
                </div>
            </div>
            <div class="fullwidth-col-img--item" id="image3">
                <div class="fullwidth-col-img--item-bg "></div>
                <div class="fullwidth-col-img--item-inner ">
                    <h3>
                        CHAT BOT
                    </h3>
                    <div class="fullwidth-col-img--item-desc ">
                        ChatBot helps the users to solve their problems instantly.
                    </div>
                </div>
            </div>
            <div class="fullwidth-col-img--item" id="image4">
                <div class="fullwidth-col-img--item-bg "></div>
                <div class="fullwidth-col-img--item-inner ">
                    <h3>
                        DISCUSSIONS
                    </h3>
                    <div class="fullwidth-col-img--item-desc ">
                        Discussions tab helps to unite all the farmers for the query solving among each other
                    </div>
                </div>
            </div>
        </div>
        
        
        <div class="header-images ">
            <img src="Images/HomePage_Images/11.png ">           
            <img src="Images/HomePage_Images/8.png ">
            <img src="Images/HomePage_Images/9.png ">
        </div>
    </section>

    <div class="about-wesite ">
        <div class="heading ">
            <h1>ABOUT THIS PORTAL</h1>
        </div>
        <div id="row-fluid-wrapper-1 " class="row-fluid-wrapper">
            <div class="row-fluid-wrapper-image-1">
                <img src="Images/HomePage_Images/svg.svg" data-aos="zoom-in-right">
            </div>
            <div class="row-fluid-wrapper-content-1" data-aos="zoom-in-left">
                <h1>CROP SUGGESTIONS....</h1><br>
                <p>This portal is used to educate farmers about various types of crops. The <strong>CROPS</strong> page takes input from the user and displays the best possible and suitable crops according to the input given. This page displays full-fledged
                    details such as investment, water requirement, Gross income and total profit that can be earned.<br>This helps the Farmers to have better understanding of professional farming.</p>
            </div>
        </div>

        <div id="row-fluid-wrapper-2 " class="row-fluid-wrapper">
            <div class="row-fluid-wrapper-content-2" data-aos="zoom-in-right">
                <h1>MARKET PLACE....</h1><br>
                <p>This portal also works as a platform that provides the farmers all the essential items from trustworthy manufacturers who have their products verified,certified and approved by the Government of India.<br></p>
            </div>
            <div class="row-fluid-wrapper-image-2">
                <img src="Images/HomePage_Images/14.png" data-aos="zoom-in-left">
            </div>
        </div>
        
        


    </div>

    <div class="customer-review ">
        <div class="row-fluid-wrapper quote-background-image ">
            <div class="row-fluid ">

                <blockquote class="quote card ">
                    <div class="quote_content ">
                        "Because of their connection to the land,farmers do more to protect and preserve our environment then almost anyone else. They are some of the best environmentalists around."<br>
                        <footer class="quote_footer ">
                            <div class="quote_author-content ">
                                Ike Skelton, American politician
                            </div>
                        </footer>
                    </div>
                </blockquote>
                
            </div>
        </div>
    </div>
    
    <div class="contact-us ">
        <div class="contact-us-container">
            <div id="contact-us-button " class="us-button ">
                <button><a href="#">Contact us</a></button>
            </div>
            <div id="about-us-button" class="us-button ">
                <button><a href="/Aboutuss">About us</a></button>
            </div>
        </div>
    </div>



    <footer class="footer ">
        <div class="footer-container ">
            <div class="row ">
                <div class="footer-col ">
                    <h4>company</h4>
                    <ul>
                        <li><a href="# ">about us</a></li>
                        <li><a href="# ">our services</a></li>
                        <li><a href="# ">privacy policy</a></li>
                        <li><a href="# ">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col " id="footer-col-online-shop ">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="# ">FAQ</a></li>
                        <li><a href="# ">shipping</a></li>
                        <li><a href="# ">returns</a></li>
                        <li><a href="# ">order status</a></li>
                        <li><a href="# ">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="/search/seeds">seeds</a></li>
                        <li><a href="/search/fertilizers">fertilizers</a></li>
                        <li><a href="/search/pesticides">pesticides</a></li>
                        <!-- <li><a href="# ">equipment</a></li> -->
                    </ul>
                </div>
                <div class="footer-col ">
                    <h4>follow us</h4>
                    <div class="social-links ">
                        <a href="# "><i class="fab fa-facebook-f "></i></a>
                        <a href="# "><i class="fab fa-twitter "></i></a>
                        <a href="# "><i class="fab fa-instagram "></i></a>
                        <a href="# "><i class="fab fa-linkedin-in "></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
    <script src="https://unpkg.com/aos@next/dist/aos.js "></script>
    <script>
        AOS.init();
        </script>
</body>