@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


:root {
    --aside_width: 20vw;
    --logo_div_height: 12vh;
    --aside_ul_height: calc(100vh - var(--logo_div_height));

    --nav_height: 6vh;
    --section_height: calc(100vh - var(--nav_height));

    --green: #27ae60;
    --black: #2c2c54;
}

/* <------------------------------------------ styling for aside element ---------------------------------------------> */

aside {
    background-color: rgb(38, 151, 255);
    float: left;
    height: 100vh;
    width: var(--aside_width);
    position: fixed;
    /* padding: 10px; */
}

.logo-details {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: var(--logo_div_height);
}

aside a {
    text-decoration: none;
    /* font-size: 18px; */
    font-size: calc(0.8vw + 0.8vh);
    font-weight: 400;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.logo-details a {
    font-size: calc(0.9vw + 0.9vh);
}

.logo-details img {
    height: calc(2vh + 2vw);
    width: calc(2vh + 2vw);
    border-radius: 50%;
    margin: 10px 0;
}

aside ul {
    margin-top: 5vh;
    /*subtract margin to prevent overflow in height*/
    height: calc(var(--aside_ul_height) -5vh);
}

aside li {
    /* margin-top: 10vh; */
    list-style: none;
    height: 8vh;
}

aside li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.active {
    background: #00d68b;
    transition: 0.3s ease-in-out;
}

aside li a:hover {
    background-color: #e05260;
}

aside li i {
    width: 25%;
    font-size: 1.5vw;
    color: #fff;
    text-align: center;
}

.log_out {
    position: absolute;
    bottom: 0;
    width: var(--aside_width);
}


/* <------------------------ nav bar styling ----------------------------> */

nav,
.main_details_container {
    position: relative;
    left: var(--aside_width);
    width: calc(100% - var(--aside_width));
    overflow: hidden;
}


nav {
    position: fixed;
    /* width: 100%; */
    background-color: rgb(191, 186, 192);
    height: var(--nav_height);
    z-index: 2;
}

nav h1 {
    font-size: calc(1vh + 1vw);
    line-height: var(--nav_height);
}

nav .nav_title {
    float: left;
    padding-left: 2vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav .nav_name {
    float: right;
    padding-right: 2vw;
}


/* <------------------------------------------ styling for  main-details-container  div ---------------------------------------------> */


.main_details_container {
    /* margin-top: var(--nav_height); */
    position: relative;
    top: var(--nav_height);
}

.main_details_container section {
    height: var(--section_height);
    scroll-margin-top: var(--nav_height);

}


/* <------------------------------------------ styling for Dashboard Section ---------------------------------------------> */


#dashboard_section{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.graph {
    /* display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    align-items: center; */
    /* background-color: #372d5e; */

    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    scroll-margin-bottom: 0;
}

.dashboard_main_heading{
    font-size: 2rem;
    text-align: center;
}




/* <------------------------------------------ styling for circular progress bar element ---------------------------------------------> */



.circular_graph {
    font-size: calc(1vh + 1.5vw);
    padding: 0 1.5rem;
}

.circular-progress_3,
.circular-progress_0,
.circular-progress_1,
.circular-progress_2 {
    height: calc(7vh + 8vw);
    width: calc(7vh + 8vw);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.circular-progress_3:before,
.circular-progress_0:before,
.circular-progress_1:before,
.circular-progress_2:before {
    content: "";
    position: absolute;
    height: calc(6vh + 7vw);
    width: calc(6vh + 7vw);
    background-color: #fff;
    border-radius: 50%;
}

.value-container_3,
.value-container_0,
.value-container_1,
.value-container_2 {
    position: relative;
    /* font-size: 50px; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #231c3d;
}

.circular_graph h1 {
    padding: 1.8rem 0;
    font-size: calc(1vh + 1vw);
    ;
}


/* <------------------------------------------ styling for Dashboard Section Ends here ---------------------------------------------> */




/* <------------------------------------------ styling for Products section ---------------------------------------------> */


#products_section {
    /* background-color: rgb(222, 220, 224); */
    height: max-content;
}

.prod_section_main_heading {
    text-align: center;
    font-size: 3rem;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 5rem;
}

.box-container .box {
    flex: 1 1 16rem;
    text-align: center;
    padding: 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    /* overflow: hidden; */
    position: relative;
}

.box-container .box img {
    height: 10rem;
}

.box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background: rgba(0, 255, 0, 0.1);
    color: var(--green);
    padding: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

.box-container a {
    text-decoration: none;
    color: #000;
}

.box-container .box h3 {
    color: var(--black);
    font-size: 1.5rem;
}


.box-container .box .price {
    font-size: 1.2rem;
    color: #333;
    padding: 0.5rem 0;
}

.box-container .box .price span {
    font-size: 1rem;
    color: #999;
    text-decoration: line-through;
}













/* <------------------------------------------ styling for Account Section ---------------------------------------------> */

#account_section {
    /* height: max-content; */
}

.account_edit_div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 3rem;
    margin: auto;
    height: 100%;
    width: 70%;
    text-decoration: none;
    font-size: 1.3rem;
}

.account_edit_div a {
    margin: 1rem 0;
    text-decoration: none;
    color: #000;
    border: solid rgb(141, 140, 140);
    border-radius: 10px;
    padding: 0.5rem;
}




.goTop_btn{
    padding: 0.8rem;
    background-color: rgb(182, 181, 181);
    float: right;
    position: absolute;
    bottom: 1%;
    right: 1%;
}

.goTop_btn a{
    text-decoration: none;
    font-size: 1.1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000;
    font-weight: 500;
}