header {
    position: relative;
    top: 0;
}

.details {
    margin-left: 20px;
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}

.main_container{
    position: relative;
    top: 8vh;
}

/* .details h2{
    margin: 0 auto;
} */
.description {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.colon {
    margin-left: 50px;
}

.values {
    margin-left: 50px;
}

.complete-div {
    display: flex;
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.right-div {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.right-div img {
    height: 350px;
    width: 350px;
}

.down-div {
    border: 1px solid black;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}