.top-div{
    display:flex;
    border: 1px solid black;
    margin:10px 20px 20px 20px;
    margin-bottom: 11vh;
}

.top-right{
    align-items: center;
    margin-top: 20px;
}

.top-left{
    margin-top:20px;
    margin-left: 20px;
}
.down-div{
    display:flex;
    border: 1px solid black;
    margin:10px 20px 20px 20px;
}
.down-left{
    display:flex;
    margin-left: 20px;
    max-width:  80%;
}
.keys{
    margin-top:25px;
}
.colon{
    margin-left: 40px;
}
.values{
    margin-top:25px;
    margin-left: 40px;
}
.productheading{
    position:relative;
    margin-left: 20px;
    margin-bottom: 10vh;
}
.productheading h1{
    margin: 0 auto;
}

.down-right img{
    position: relative;
    left: 30%;
    padding: 20px;
}